.custom-border {
  background: linear-gradient(
    90deg,
    rgba(227, 82, 223, 1) 0%,
    rgba(147, 36, 232, 1) 52%,
    rgba(85, 1, 238, 1) 100%
  );

  border-image: linear-gradient(
    90deg,
    rgba(227, 82, 223, 1) 0%,
    rgba(147, 36, 232, 1) 52%,
    rgba(85, 1, 238, 1) 100%
  );
  border-image-slice: 1;
}

.event {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='250' preserveAspectRatio='none' viewBox='0 0 1440 250'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1020%26quot%3b)' fill='none'%3e%3crect width='1440' height='250' x='0' y='0' fill='rgba(15%2c 5%2c 26%2c 1)'%3e%3c/rect%3e%3cpath d='M2 250L252 0L364.5 0L114.5 250z' fill='url(%26quot%3b%23SvgjsLinearGradient1021%26quot%3b)'%3e%3c/path%3e%3cpath d='M248.60000000000002 250L498.6 0L821.1 0L571.1 250z' fill='url(%26quot%3b%23SvgjsLinearGradient1021%26quot%3b)'%3e%3c/path%3e%3cpath d='M503.20000000000005 250L753.2 0L1053.2 0L803.2 250z' fill='url(%26quot%3b%23SvgjsLinearGradient1021%26quot%3b)'%3e%3c/path%3e%3cpath d='M720.8000000000001 250L970.8000000000001 0L1308.3000000000002 0L1058.3000000000002 250z' fill='url(%26quot%3b%23SvgjsLinearGradient1021%26quot%3b)'%3e%3c/path%3e%3cpath d='M1435 250L1185 0L870 0L1120 250z' fill='url(%26quot%3b%23SvgjsLinearGradient1022%26quot%3b)'%3e%3c/path%3e%3cpath d='M1173.4 250L923.4000000000001 0L746.4000000000001 0L996.4000000000001 250z' fill='url(%26quot%3b%23SvgjsLinearGradient1022%26quot%3b)'%3e%3c/path%3e%3cpath d='M963.8 250L713.8 0L425.79999999999995 0L675.8 250z' fill='url(%26quot%3b%23SvgjsLinearGradient1022%26quot%3b)'%3e%3c/path%3e%3cpath d='M724.1999999999999 250L474.19999999999993 0L334.69999999999993 0L584.6999999999999 250z' fill='url(%26quot%3b%23SvgjsLinearGradient1022%26quot%3b)'%3e%3c/path%3e%3cpath d='M1298.7157205255705 250L1440 108.7157205255705L1440 250z' fill='url(%26quot%3b%23SvgjsLinearGradient1021%26quot%3b)'%3e%3c/path%3e%3cpath d='M0 250L141.2842794744295 250L 0 108.7157205255705z' fill='url(%26quot%3b%23SvgjsLinearGradient1022%26quot%3b)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1020'%3e%3crect width='1440' height='250' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='0%25' y1='100%25' x2='100%25' y2='0%25' id='SvgjsLinearGradient1021'%3e%3cstop stop-color='rgba(53%2c 7%2c 68%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(53%2c 7%2c 68%2c 1)' offset='0.66'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='100%25' y1='100%25' x2='0%25' y2='0%25' id='SvgjsLinearGradient1022'%3e%3cstop stop-color='rgba(53%2c 7%2c 68%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(53%2c 7%2c 68%2c 1)' offset='0.66'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
}

@keyframes bgAnimation {
  0% {
    background: linear-gradient(
      90deg,
      rgba(41, 20, 99, 1),
      rgba(201, 27, 231, 1)
    );
    background-size: 200% 200%;
  }
  50% {
    background: linear-gradient(
      90deg,
      rgba(201, 27, 231, 1),
      rgba(41, 20, 99, 1)
    );
    background-size: 200% 200%;
  }
  100% {
    background: linear-gradient(
      90deg,
      rgba(41, 20, 99, 1),
      rgba(201, 27, 231, 1)
    );
    background-size: 200% 200%;
  }
}

.bg-animation {
  animation: bgAnimation 2s ease infinite alternate;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  filter: blur(15px);
}
