.gradient-text {
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(29, 154, 253, 1) 50%,
    rgba(64, 14, 101, 1) 100%
  );
  -webkit-background-clip: text;
  color: transparent;
}
.semi-gradient {
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
  -webkit-background-clip: text;
  color: transparent;
}

.banner-body {
  background: linear-gradient(
    90deg,
    rgba(40, 7, 66, 1) 0%,
    rgba(13, 5, 24, 1) 15%,
    rgba(22, 6, 38, 1) 85%,
    rgba(40, 7, 66, 1) 100%
  );
}
